<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">
        Nicole Shayne
      </div>
    </div>
    <div class="text-center">
      <%= image_tag @post.image.url(:medium), class: "img-responsive" %>
    </div>
    <p class="caption">
      <%= @post.caption %>
    </p>
    <div class="text-center edit-links">
      <%= link_to "Cancel", posts_path %><br>
      <%= link_to "Edit Post", edit_post_path(@post) %>

    </div>
  </div>
</div>
