/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 html {
   height: 100%;
 }
 body {
   height: 100%;
   background-color: #fafafa;
   font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
 }
 body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* ## NAVBAR CUSTOMISATIONS ## */

.navbar-brand {
  a {
    margin-left: -12px;
    margin-top: -23px;
    display: block;
    height: 35px;
    width: 176px;
    color: #125688;
  }
}

.navbar-default {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  height: 77px;

  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-container {
  width: 70%;
  margin: 0 auto;
}

/* ## POST CUSTOMISATIONS ## */

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 0x;
  .post-head {
    flex-direction: row;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    color: #125688;
    font-size: 15px;
    line-height: 18px;
    .user-name, .time-ago {
      display: inline;
    }
    .user-name {
      font-weight: 500;
    }
    .time-ago {
      color: #A5A7AA;
      float: right;
    }
  }
  .image {
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
  }
}

.post-bottom {
  .user-name, .comment-content {
    display: inline;
  }
  .caption {
    margin-bottom: 7px;
  }
  .user-name {
    font-weight: 500;
    margin-right: 0.3em;
    color: #125688;
    font-size: 15px;
  }
  .user-name, .caption-content {
    display: inline;
  }
  #comment {
    margin-top: 7px;
    .user-name {
      font-weight: 500;
      margin-right: 0.3em;
    }
    .delete-comment {
      float: right;
      color: #515151;
    }
  }
  margin-bottom: 7px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
}

.comment_content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: #4B4F54;
}

.comment-like-form {
  padding-top: 24px;
  margin-top: 13px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 68px;
  align-items: center;
  border-top: 1px solid #EEEFEF;
  flex-direction: row;
  justify-content: center;
}

/* ## Wrapper and styling for the new and edit views ## */

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.img-responsive {
  margin: 0 auto;
  width: 640px;
}
html {
  height: 100%;
}

.registration-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('regbackg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.panel {
  border-radius: 1px;
  border: 1px solid #e6e6e6;
  padding: 10px 0;
  margin-top: 12px;
  width: 350px;
}

.panel-heading{
  h1 {
    text-align: center;
  }
}
.navbar {
  margin-bottom: 0px;
}

.alert {
  margin-bottom: 0px;
}
.input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    color: #262626;
    background: 0 0;
    border: 1px solid #efefef;
    height: 34px;
    box-sizing: border-box;
    padding: 9px 8px 7px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 3px;
    margin-bottom: -7px;
}
h2 {
  font-size: 17px;
  line-height: 20px;
  margin: 0 40px 0px;
  text-align: center;
  color: #999;
  font-weight: 600;
}

h1.insta {
  margin: 24px auto 8px;
  background-image: url(https://www.instagram.com/static/sprites/core/ac8014.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 51px;
  width: 175px;
}
.panel-body {
  padding: 15px 45px 11px;
}
.btn-block {
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 12px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  background: #3897f0;
  border-color: #3897f0;
  margin-top: 25px;
}
#image-preview {
  margin: 0px auto;
}

#post_image {
  padding: 1em;
  margin: 0px auto;
}
#paginator {
  color: #4090DB;
  height: 120px;
  width: 120px;
  margin: 60px auto 40px;
  position: relative;
  display: table;
  border: 2px solid #4090DB;
  border-radius: 50%;
  :hover {
    border: 1px solid #2D6DA8;
    border-radius: 50%;
  }
}

#load_more {
  display: table-cell;
  font-size: 12px;
  padding: 0px 9px;
  vertical-align: middle;
  text-decoration: none;
  a :hover {
    color: #2D6DA8;
  }
}
.comments {
  .paginator {
    margin: 0.5em;
    .more-comments {
      color: #A5A7AA;
    }
  }
}
#user_avatar {
  margin: 20px auto;
}
.profile-header {
  padding: 20px 0;
}

.profile-image {
  margin: 20px auto;
  height: 152px;
  width: 152px;
}

.user-name-and-follow {
  display: inline;
}

.profile-user-name {
  display: inline;
}

.edit-button {
  border-color: #818488;
  color: #818488;
  margin-left: 20px;
}

.profile-bio {
  margin-top: 20px;
}
.nav {
  text-align: right;
}
.inst {
  margin-top: 19px;
  background-image: url(https://www.instagram.com/static/sprites/core/ac8014.png);
  background-position: -177px 0;
  height: 35px;
  width: 176px;
}
.nwpst {
  margin-top: 19px;
  background-image: url("166267.png");
  background-repeat: no-repeat;
  background-size: 415px 391px;
  background-position:-201px -112px;
  height: 21px;
  width: 24px;
}
ul.nav.navbar-nav.navbar-right {
  list-style: none;
}
.prof {
  margin-top: 19px;
  background-image: url("c8014.png");
  background-repeat: no-repeat;
  background-position: -286px -289px;
  height: 24px;
  width: 24px;
  a {
    margin-left: -12px;
    margin-top: -23px;
    display: block;
    height: 24px;
    width: 24px;
  }
}
button.btn.btn-default {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-top: 18px;
  font-size: 22px;
  -webkit-text-stroke: 1px white;
}
.log {
  margin-top: -31px;
  display: block;
  width: 48px;
}
